/* About section styles */
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 60px 80px;
    background-color: #f8fafc;
    flex-wrap: wrap;
}

.image {
    width: 400px;
    max-width: 100%;
    height: 450px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    object-fit: cover;
}

.section {
    max-width: 600px;
}

.section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #1e3a8a;

    position: relative;
    padding-bottom: 10px;

}
.section h2::after {
    content: "";
    width: 60px;
    height: 3px;
    background-color: #1e3a8a;
    position: absolute;
    left: 0;
    bottom: 0;
}

.section p {

    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 18px;
    color: #444;
}
.collapsed {
   
    display: -webkit-box;         
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 3;        
    line-clamp: 3;                 
    overflow: hidden;  
     
}
#toggleBtn{
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgb(101, 101, 190);
    color: #fff;
}
#toggleBtn:hover{
    cursor: pointer;
    background-color: rgb(64, 64, 188);
}
    
/* Contacts section styles*/

.Contact-section {
    background-color: #f4f7fb;
    padding: 40px 20px;
    text-align: center;
}

.Contact-section h3 {
    font-size: 30px;
    margin-bottom: 15px;
    color: #0b3dc7;
}

.Contact-section .message {
    max-width: 700px;
    margin: 0 auto 40px auto;
    font-size: 18px;
    line-height: 1.6;
    color: #444;
}

.contact-info {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.input{
    padding: 10px 15px;
    margin: 5px 10px;
    font-size: 12px ;
    border-radius: 8px;
}
#message{
     padding: 10px 15px;
    margin: 5px 10px;
    font-size: 12px ;
    border-radius: 8px;
}
.submit{
    padding: 10px 15px;
    margin: 5px 10px;
    background-color: #bebcbc;
    border-radius: 8px;
}
.submit:hover{
    cursor: pointer;
}
#formFeedback {
    margin-top: 10px;
    font-weight: bold;
}


/* Individual Cards */
.contact-info .mail,
.contact-info .socials {
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    text-align: left;
    transition: transform 0.3s ease;
}
.contact-info .socials p{
    cursor: pointer;
}
.contact-info .mail:hover,
.contact-info .socials:hover {
    transform: translateY(-5px);
}

.contact-info h4 {
    margin-bottom: 15px;
    color: #0b3dc7;
    font-size: 20px;
}

.contact-info p {
    margin: 8px 0;
    color: #555;
    font-weight: bold;
}

/* Footer Styling */
.footer {
    background-color: #1e3a8a;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer p {
    margin: 5px 0;
    font-size: 16px;
}

.terms-links {
    display: flex;
    gap: 40px; 
}
.terms-links:hover{
    cursor: pointer;
}

/* media queries */
    /* contact section */
@media (min-width: 481px) and (max-width: 767px) {
    .contact-info {
        flex-direction: column;
        align-items: center;
    }

    .terms-links {
        justify-content: center;
    }
    /* About section */
    .main {
        flex-direction: column;
        padding: 40px 20px;
        text-align: center;
    }

    .section {
        max-width: 100%;
    }

    .section h2 {
        font-size: 26px;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    /* contact section */
    .contact-info {
        gap: 20px;
    }

    .footer {
        padding: 20px 40px;
    }
    /* About section */

    .main {
        flex-direction: column;
        padding: 50px 40px;
        text-align: center;
    }

    .image {
        width: 350px;
    }

    .section {
        max-width: 90%;
    }

    .section h2 {
        font-size: 28px;
    }

    .section p {
        font-size: 15px;
    }
}


@media (min-width: 1025px) and (max-width: 1280px) {
    /* contact section */
    .contact-info {
        gap: 30px;
    }
    /* About section */
     .main {
        padding: 60px 60px;
        gap: 40px;
    }

    .image {
        width: 400px;
    }

    .section {
        max-width: 550px;
    }

    .section h2 {
        font-size: 30px;
    }

    .section p {
        font-size: 16px;
    }

    .contact-info {
        gap: 30px;
    }
}